<p id="hp-<%= number %>"><%= hp.to_i %></p>
<p id="atk-<%= number %>"><%= atk.to_i %></p>
<p id="def-<%= number %>"><%= defe.to_i %></p>
<p id="spatk-<%= number %>"><%= sp_atk.to_i %></p>
<p id="spdef-<%= number %>"><%= sp_def.to_i %></p>
<p id="spd-<%= number %>"><%= spd.to_i %></p>
