<div class="move-<%= number %>">
  <p id="<%= pokemon %>-name-<%= number %>"><%= move.name %></p>
  <p id="<%= pokemon %>-damageclass-<%= number %>"><%= move.damage_class %></p>
  <p id="<%= pokemon %>-type-<%= number %>"><%= move.move_type %></p>
  <p id="<%= pokemon %>-accuracy-<%= number %>"><%= move.accuracy %></p>
  <p id="<%= pokemon %>-power-<%= number %>"><%= move.power %></p>
  <p id="<%= pokemon %>-pp-<%= number %>"><%= move.pp %></p>
  <p id="<%= pokemon %>-priority-<%= number %>"><%= move.priority %></p>
  <p id="<%= pokemon %>-effectchance-<%= number %>"><%= move.effect_chance %></p>
  <p id="<%= pokemon %>-statchange-<%= number %>"><%= move.stat_change %></p>
  <p id="<%= pokemon %>-statname-<%= number %>"><%= move.stat_name %></p>
  <p id="<%= pokemon %>-description-<%= number %>"><%= move.description %></p>
</div>
