<% @moves.each do |move| %>
  <h5><%= move.name %></h5>
  <p>Damage Class: <%= move.damage_class %></p>
  <p>Power: <%= move.power %></p>
  <p>Accuracy: <%= move.accuracy %></p>
  <p>PP: <%= move.pp %></p>
  <p>Effect: <%= move.description %></p>
<% end %>
