<div id="ds-lite-closed">
  <div id="ds-selectable-area-open"></div>
</div>

<div class="pokemons invisible">
  <div class="pokemon-1">
    <div class="types">
      <p id="p1-type-1"><%= @pokemon_1.type_1 %></p>
      <p id="p1-type-2"><%= @pokemon_1.type_2 %></p>
    </div>
    <div class="stats">
      <%= render "shared/pokemon-stats", number: "1", hp: @hp, atk: @atk, defe: @def, sp_atk: @sp_atk, sp_def: @sp_def, spd: @spd %>
    </div>
    <div class="moves">
      <%= render "shared/pokemon-move", pokemon: "1", number: "1", move: @move_1 %>
      <%= render "shared/pokemon-move", pokemon: "1", number: "2", move: @move_2 %>
      <%= render "shared/pokemon-move", pokemon: "1", number: "3", move: @move_3 %>
      <%= render "shared/pokemon-move", pokemon: "1", number: "4", move: @move_4 %>
    </div>
  </div>

  <div class="pokemon-2">
    <div class="types">
      <p id="p2-type-1"><%= @pokemon_2.type_1 %></p>
      <p id="p2-type-2"><%= @pokemon_2.type_2 %></p>
    </div>
    <div class="stats">
      <%= render "shared/pokemon-stats", number: "2", hp: @hp_2, atk: @atk_2, defe: @def_2, sp_atk: @sp_atk_2, sp_def: @sp_def_2, spd: @spd_2 %>
    </div>
    <div class="moves">
      <%= render "shared/pokemon-move", pokemon: "2", number: "1", move: @move_1_2 %>
      <%= render "shared/pokemon-move", pokemon: "2", number: "2", move: @move_2_2 %>
      <%= render "shared/pokemon-move", pokemon: "2", number: "3", move: @move_3_2 %>
      <%= render "shared/pokemon-move", pokemon: "2", number: "4", move: @move_4_2 %>
    </div>
  </div>
</div>

<div id="ds-lite" class="invisible">
  <div id="ds-selectable-area-close"></div>
  <div id="top-screen">
    <div id="battle-image">
      <div id="top-left">
        <div class="health-border">
          <div class="name">
            <h6 id="name-2"><%= @pokemon_2.name %></h6>
            <h6 class="level"><b>Lv100</b></h6>
          </div>
          <div class="health">
            <div id="health-bar-2" class="health-bar">
              <% @counter_2 = 1 %>
              <% @hp_2.times do %>
                <div id="2-health-<%= @counter_2 %>" class="health-gauge" style="width: <%= 100.to_f / @hp_2 %>px;"></div>
                <% @counter_2 += 1 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="top-right">
        <img id="image-2" src="<%= @pokemon_2.sprite_front %>" alt="Pokemon Image">
      </div>
      <div id="bottom-left">
        <img id="image-1" src="<%= @pokemon_1.sprite_back %>" alt="Pokemon Image">
      </div>
      <div id="bottom-right">
        <div class="health-border">
          <div class="name">
            <h6 id="name-1"><%= @pokemon_1.name %></h6>
            <h6 class="level"><b>Lv100</b></h6>
          </div>
          <div class="health">
            <div id="health-display">
              <div id="current-health"><%= @hp %></div>/
              <div id="max-health"><%= @hp %></div>
            </div>
            <div id="health-bar-1" class="health-bar">
              <% @counter_1 = 1 %>
              <% @hp.times do %>
                <div id="1-health-<%= @counter_1 %>" class="health-gauge" style="width: <%= 100.to_f / @hp %>px;"></div>
                <% @counter_1 += 1 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="description-border">
      <div id="description">
        <p>What will <%= @pokemon_1.name %> do?</p>
      </div>
    </div>
  </div>
  <div id="bottom-screen">
    <div id="bottom-bg">
      <div id="pokeball-top">
        <div id="pokeball-middle"></div>
      </div>
    </div>
    <div id="moves">
      <div id="move-1" class="move <%= @move_1.move_type %> active">
        <div class="border">
          <p><%= @move_1.name %></p>
          <div class="move-data">
            <div class="type <%= @move_1.move_type %>"><%= @move_1.move_type %></div>
            <div class="pp">PP <%= @move_1.pp %>/<%= @move_1.pp %></div>
          </div>
        </div>
      </div>
      <div id="move-2" class="move <%= @move_2.move_type %>">
        <div class="border">
          <p><%= @move_2.name %></p>
          <div class="move-data">
            <div class="type <%= @move_2.move_type %>"><%= @move_2.move_type %></div>
            <div class="pp">PP <%= @move_2.pp %>/<%= @move_2.pp %></div>
          </div>
        </div>
      </div>
      <div id="move-3" class="move <%= @move_3.move_type %>">
        <div class="border">
          <p><%= @move_3.name %></p>
          <div class="move-data">
            <div class="type <%= @move_3.move_type %>"><%= @move_3.move_type %></div>
            <div class="pp">PP <%= @move_3.pp %>/<%= @move_3.pp %></div>
          </div>
        </div>
      </div>
      <div id="move-4" class="move <%= @move_4.move_type %>">
        <div class="border">
          <p><%= @move_4.name %></p>
          <div class="move-data">
            <div class="type <%= @move_4.move_type %>"><%= @move_4.move_type %></div>
            <div class="pp">PP <%= @move_4.pp %>/<%= @move_4.pp %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="up-control"></div>
  <div id="right-control"></div>
  <div id="left-control"></div>
  <div id="down-control"></div>
  <div id="a-button"></div>
  <div id="b-button"></div>
  <div id="x-button"></div>
  <div id="y-button"></div>
  <div id="start-button"></div>
  <div id="select-button"></div>
  <div id="ds-lite-overlay"></div>
</div>

<%= javascript_pack_tag 'battle' %>
