<div id="pokedex">
  <div id="screen">
    <div id="carouselControls" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <% @pokemons.each_with_index do |pokemon, n| %>
          <div class="carousel-item <%= n == 0 ? "active" : "" %>">
            <h5>#<%= pokemon.number %> <%= pokemon.name %></h5>
            <%= link_to pokemon_path(pokemon) do %>
              <img src="<%= pokemon.image %>" class="image-1" alt="Pokemon Image">
              <img src="<%= pokemon.sprite_front %>" class ="image-2 invisible" alt="Pokemon Image">
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="red-button"></div>
  <div id="circle-button"></div>
  <div id="pokedex-overlay"></div>
  <div id="up"></div>
  <div id="left">
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="sr-only">Previous</span>
    </a>
  </div>
  <div id="right">
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="down"></div>
  <div id="pokedex-overlay"></div>
  </div>
</div>
