<div id="pokemon-container">
  <% @pokemons.each do |pokemon| %>
    <div>
      <h4><%= pokemon.name %></h4>
      <p>#<%= pokemon.number %></p>
      <ul>
        <li><%= pokemon.type_1 %></li>
        <% if pokemon.type_2 %>
          <li><%= pokemon.type_2 %></li>
        <% end %>
      </ul>
      <%= link_to pokemon_path(pokemon) do %>
        <img src="<%= pokemon.image %>" alt="Pokemon Image">
      <% end %>
    </div>
  <% end %>
</div>
