<div>
  <h4><%= @pokemon.name %></h4>
  <p>#<%= @pokemon.number %></p>
  <ul>
    <li><%= @pokemon.type_1 %></li>
    <% if @pokemon.type_2 %>
      <li><%= @pokemon.type_2 %></li>
    <% end %>
  </ul>
</div>

<div class="screen-bezel gray">
  <div class="screen-top">
    <div class="circle orange"></div>
    <div class="circle orange"></div>
  </div>
  <div class="screen white">
    <img src="<%= @pokemon.image %>" alt="Pokemon Image">
  </div>
</div>

<div class="control">
  <div class="up dark-gray"></div>
  <div class="center dark-gray">
    <div class="left"></div>
    <div class="middle shade-gray"></div>
    <div class="right"></div>
  </div>
  <div class="down dark-gray"></div>
</div>
