<div>
  <h4><%= @pokemon.name %></h4>
  <p>#<%= @pokemon.number %></p>
  <ul>
    <li><%= @pokemon.type_1 %></li>
    <% if @pokemon.type_2 %>
      <li><%= @pokemon.type_2 %></li>
    <% end %>
  </ul>
</div>

<!-- <div class="screen-bezel gray">
  <div class="screen-top">
    <div class="circle orange"></div>
    <div class="circle orange"></div>
  </div>
  <div class="screen white">
    <img src="<%= @pokemon.image %>" alt="Pokemon Image">
  </div>
</div> -->


<div class="pokedex">
  <div class="screen">
    <h5>#<%= @pokemon.number %> <%= @pokemon.name %></h5>
    <img src="<%= @pokemon.image %>" alt="Pokemon Image">
  </div>
  <div class="red-button"></div>
  <div class="circle-button"></div>
  <div class="pokedex-overlay"></div>
  <div class="up"></div>
  <div class="left"></div>
  <div class="right"></div>
  <div class="down"></div>
  <div class="pokedex-overlay"></div>
  </div>
</div>
