<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pokemon Database Simulator</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <div id="preload">
      <%= image_tag "pokedex-circlepressed", alt: "" %>
      <%= image_tag "pokedex-closed", alt: "" %>
      <%= image_tag "pokedex-downpressed", alt: "" %>
      <%= image_tag "pokedex-leftpressed", alt: "" %>
      <%= image_tag "pokedex-neutral", alt: "" %>
      <%= image_tag "pokedex-redpressed", alt: "" %>
      <%= image_tag "pokedex-rightpressed", alt: "" %>
      <%= image_tag "pokedex-uppressed", alt: "" %>
      <%= image_tag "DSLITE_closed", alt: "" %>
      <%= image_tag "DSLITE_open_on", alt: "" %>
      <%= image_tag "DSLITE_open_on_A", alt: "" %>
      <%= image_tag "DSLITE_open_on_B", alt: "" %>
      <%= image_tag "DSLITE_open_on_down", alt: "" %>
      <%= image_tag "DSLITE_open_on_left", alt: "" %>
      <%= image_tag "DSLITE_open_on_right", alt: "" %>
      <%= image_tag "DSLITE_open_on_up", alt: "" %>
      <%= image_tag "DSLITE_open_on_X", alt: "" %>
      <%= image_tag "DSLITE_open_on_Y", alt: "" %>
      <%= image_tag "DSLITE_open_on_select", alt: "" %>
      <%= image_tag "DSLITE_open_on_start", alt: "" %>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
